name: Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions: write-all

jobs:
  release-reusable:
    uses: anyproto/shared-actions/.github/workflows/release-go-daemons-reusable.yml@OPS-860
    secrets: inherit # pass all secrets
    with:
      matrix-os: '["linux", "windows","darwin"]'
      build-cmd: cp ./any-sync-network/defaultTemplate.yml ./bin/
